.popup {
    position: fixed;
    bottom: 100px;
    left: 50%;
    width: fit-content;
    min-width: 100px;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    z-index: 50;
    transition: opacity 1s linear;
}

.popup-close-button {
    position: absolute;
    top: 5px;
    right: 5px;
}