.recipe-container {
    display: flex;
}

.carousel-container {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 992px) {
    .recipe-container {
        flex-flow: column-reverse nowrap;
        max-width: 600px;
    }

    .carousel-container {
        width: 100%;
        max-width: 600px;
    }
}

.carousel-container .carousel li {
    cursor: pointer;
}

.carousel-container .slider {
    height: fit-content;
    max-height: 400px;
    cursor: pointer;
}

.carousel-container img {
    aspect-ratio: 1;
    height: 100%;
}

.hero-side {
    padding: 20px;
    cursor: default;
    user-select: none;
}

.recipe-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}

.recipe-name {
    font-family: var(--font-primary);
    font-size: 38px;
    font-weight: bold;
    line-height: 1.1;
    color: var(--color-primary);
}

.recipe-cuisine {
    font-size: 20px;
    color: var(--color-text-secondary);
}

.recipe-username {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.1;
    color: var(--color-text-secondary);
}


.recipe-ingredients {
    margin-top: 15px;
}

.ingredients-title {
    color: var(--color-dark-gray);
    font-size: 24px;
    font-weight: bold;
}

.recipe-divider {
    margin-top: 15px;
    border: none;
    border-top: 1px solid var(--color-primary);
    opacity: 0.5;
}

.recipe-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: var(--color-text-secondary);
}

.recipe-actions .button{
    padding: 5px;
    background-color: var(--color-background);
}

.recipe-actions .button:hover{
    padding: 5px;
    background-color: var(--color-background);
}

.recipe-likes-counter{

}

.recipe-like-button{

}

.recipe-share-button{

}
