.recipe-card {
    background-color: var(--color-background);
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 500px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
}

.recipe-card:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
}

.recipe-card-image {
    position: relative;
}

.recipe-card-image,
.recipe-card-image img {
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.recipe-card-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.recipe-card-cuisine {
    padding: 3px;
    color: var(--color-dark-gray);
    border-radius: 5px;
}

.recipe-card-likes {
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding: 3px;
    border-radius: 5px;
}

.recipe-card-body {
    padding: 10px;
}

.recipe-card-body h3 {
    color: var(--color-primary);
}

.recipe-card-name {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.recipe-card-user {
    font-size: 14px;
    color: var(--color-dark-gray);
}