.navbar {
    width: 100vw;
    height: 60px;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.navbar-logo{
    margin-left: 50px;
    font-family: var(--font-secondary);
    font-size: 24px;
    color: var(--color-dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbar-logo img{
    max-height: 50px;
}

.navbar .items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: fit-content;
    margin-right: 50px;
    padding: 10px;
    border-radius: 10px;
}

.profile:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    cursor: pointer;
}

.profile.active {
    color: var(--color-white);
    background-color: var(--color-primary);
}

.profile-dropdown {
    position: absolute;
    right: 50px;
    top: 50px;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--color-background);
    border-radius: 10px;
    border: 1px solid var(--color-primary);
}

.profile-dropdown-item {
    padding: 10px 15px;
    border-radius: 10px;
}

.profile-dropdown-item:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    cursor: pointer;
}